.main {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.heading {
  padding-bottom: 8px;
}

.link:hover {
  font-weight: 700;
}

.spacing {
  padding-bottom: 16px;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 12px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
